.custom-hover-white {
  color: #6c757d; /* Bootstrapのtext-secondaryと同じ */
  transition: color 0.3s;
}

.custom-hover-white:hover {
  color: white !important;
}

.color-preview {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff; /* 初期値として白を指定（JSX側で上書き可能） */
}

.color-display-edit-page {
  padding: 5px;
  border-radius: 5px;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.categoryNav {
  color: #000;
}